# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# Unit test / coverage reports
.coverage
htmlcov/
.tox/
.nox/
.cache/
pytest_cache/

# Build & packaging
build/
dist/
*.egg-info/
.eggs/

# IDE settings
.vscode/
.idea/
*.swp

# OS-specific
.DS_Store
Thumbs.db

# Data files (if large or sensitive)
# data/
*.csv
*.gz
*.zip

# Environment & secrets
.env
.env.*

# Model artifacts
*.pkl
*.joblib
*.h5
*.pt
*.onnx
!data/WA_Fn-UseC_-HR-Employee-Attrition.csv

